* {
    color: #fff;
}

body, html {
    scroll-behavior: smooth;
}


.circle {
    width: 750px;
    height: 750px;
}

.square {
    width: 350px;
    height: 350px;
}




@tailwind base;
@tailwind components;
@tailwind utilities;