.hero-text-box {
    height: 110px;
    width: calc(100% - 165px)
}

@media (max-width: 350px) {
    #h1-hero-xs {
        font-size: 50px;
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;