.borrow-container {
    background-image: url(/public/imgs/borrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width:150px;
 
  
}
.offer-container {
    background-image: url(/public/imgs/offer.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width:150px;
 
  
}
.ask-container {
    background-image: url(/public/imgs/asking.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width:120px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;